$text-color: #4A5759;
$background-color: #B0C4B1;
$light-color: #DEDBD2;


$self-bg: #f7f7f5;
$card-bg: #ffffff;
$text-color: #4A5759;
$accent: #B0C4B1;

.questions{
    border: 1px solid $background-color;
    padding-left: 50px;
    padding-right: 50px;
    padding:80px;
    width: 600px;
    background: $light-color;
    border-radius: 12px;
    margin-left: 600px;
    margin-top: 30px;
   align-items: center;
   .title{
    text-align: center;
    padding-bottom: 20px;
   }
    box-shadow: 2px 2px #DEDBD2;
}
.question{
    margin-bottom: 20px;
    border: 1px solid #7e8d7e;
    border-radius: 12px;
    padding-left: 30px;
    font-size: 20px;
    font-weight: 500;
    color: $text-color;
    background: $background-color;
}

.title{
    color:$text-color;
    font-size: 30px;
    font-weight: 500;
}
.button{
     background-color: #B0C4B1;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
    align-items: center;
    border-radius: 12px;
    width: 200px;
    height: 70px;
    color: #efebdf;
   margin-left: 200px;
    box-shadow: 2px 2px #899389;
}
